<%- include('includes/head') %>
<%- include('includes/nav') %>


  <div class="container">
  
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3"></div>
        <h1 class="text-center">Contatos</h1>
        <p class="text-center lead">Crie ou edite seus contatos.</p>

        <%- include('includes/messages') %>
        
      <div class="form-group">
        <% if(contact._id) { %>
          <form action="/contato/edit/<%= contact._id %>" method="POST">
          <% } else { %>
          <form action="/contato/registro" method="POST">
          <% } %>
          
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <div class="form-group">
          <label >Nome</label>
          <input value="<%- contact.nome %>" type="text" class="form-control mb-3" name="name">
        </div>
        <div class="form-group">
          <label >Sobrenome</label>
          <input value="<%= contact.lastname %>" type="text" class="form-control mb-3" name="lastname">
        </div>
        <div class="form-group">
          <label >email</label>
          <input value="<%= contact.email %>" type="email" class="form-control mb-3" name="email">
        </div>
        <div class="form-group">
          <label >Telefone</label>
          <input value="<%= contact.phone %>" type="tel" class="form-control" name="phone-number">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
      </form>
      </div>
    </div>
  </div>

<%- include('includes/footer') %>