<%- include('includes/head') %>
<%- include('includes/nav') %>


  <div class="container">
  
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3"></div>
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Seus constatos estão abaixo.</p>

        <%- include('includes/messages') %>
        
      <div class="col-lg-2"></div>
    </div>
    <% if(contacts.length > 0) { %>
    <div class="responsive-table">
      <table class="table my-3">
        <% contacts.forEach(contact => { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.lastname %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.email %></td>
            <td><a href="/contato/index/<%= contact._id %>">Editar</a></td>
            <td><a class="text-danger" href="/contato/delete/<%= contact._id %>">Excluir</a></td>
          </tr>
          <% }); %>
      </table>
    </div>
    <% } else { %>
      <p class="text-center lead">Não existem contatos na sua agenda.</p>
    <% } %>
  </div>

<%- include('includes/footer') %>